{% extends "_base.html" %} {% block body %} {% load django_bootstrap5 %}
<div class="row mx-0 mt-3">
  <div class="me-auto col-12 col-lg-4">
    <div class="card rounded-0 border-0 bg-transparent">
      <div class="card-body">
        <h2 class="">Consultation</h2>
        <form id="diagnostic-form" action="{% url "diagnostic_create" %}" method="post">
          {% csrf_token %}
          {% bootstrap_form form %} 
          <div class="mb-3">
            <div class="symptoms"></div>
          </div>
          {% bootstrap_button button_type="submit" content="Lancer un diagnostic" %}
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <div id="result-section" data-loadable class="card border-0 {% if result == None %}d-none{% elif result_is_empty %} empty {% else %} loaded {% endif %}">
      <div class="card-header p-1 bg-primary"></div>
      <div class="card-body">
        <h3 class="card-title">Résultat de votre diagnostic</h3>
        <blockquote>
          <h5>Symptômes</h5>
          <div class="symptoms">
            {% for s in symptoms %}
            <span class="symptom">
              {{ s }}
            </span>
            {% endfor %}
          </div>
        </blockquote>
        <hr class="" />
        <div class="loading-section">
          <div class="p-5">
            <div class="p-5">
                <div class="p-5">
                    <div class="p-0 text-center">
                        <span class="visually-hidden">Loading...</span>
                        <div class="spinner-border text-warning" role="status">
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="error-section">
          <div class="p-5">
            <div class="p-5">
                <div class="">
                    <div class="text-center">
                      <p>
                        <span class="bi bi-exclamation-triangle fs-1 text-warning"></span>
                      </p>
                        <p>
                          <span class="">An error occured</span>
                          <br>
                          <span>Please try again later</span>
                        </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="loaded-section">
          <h5>Recommandation du médecin: </h5>
          <div class="min-treatment ms-5 alert alert-info border border-info d-flex"></div>
          <h5>Tous les traitements possibles: </h5>
          <p class="treatments-container ms-5">
            {% for treatments in result %}
              {% with total=0 %}
                <ul class="treatments list-unstyled">
                  {% for t in treatments %}
                    <li>
                      ({{ t.number }}) {{ t.drug }} : <span class="price">{{ t.price }}</span>€
                    </li>
                  {% endfor %}
                  <li>
                    Total : <span class="total">{{ total }}</span>€
                  </li>
                  <hr class="my-3"/>
                </ul>
              {% endwith %}
            {% endfor %}
          </p>
        </div>
        <div class="empty-section">
          <p class="">
            Désolé, aucun traitements n'est approprié pour ce type de maladie.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% load static %}
<script type="text/javascript" data-turbolinks-track="reload" src="{% static 'js/index.js' %}" defer></script>

{% endblock body %}
