:root {
  --color1: #644536;
  --color2: #b2675e;
  --color3: #c4a381;
  --color4: #bbd686;
  --color5: #eef1bd;

  --color6: #004225;
  --color7: #f5f5dc;
  --color8: #ffb000;
  --color9: #ffcf9d;

  --bs-btn-bg: red;
}
